@{
    ViewData["Title"] = "Home Page";
}

<div id="divCenter">
    <div class="text-center">
        <h1>Consulta seus eventos e participantes da plataforma Sympla!</h1>

        @model TokenModel
         <br>
         <div id="divCenter">
            <form asp-action="Events" method="post">
                <div>
                    Chave de acesso: <input asp-for="Token"/><button type="submit">Consultar</button>
                </div>
            </form>
         </div>
     </div>
</div>

